# python 3.10

Flask
Flask-Cors
Flask-Login
Flask-Bcrypt
Flask-Limiter
Flask-Caching
Flask-RESTful
Flask-SQLAlchemy
Flask-Mail
Flask-Session
flasgger
redis
black
pytest
pydantic
gunicorn
python-dotenv
email-validator
Werkzeug
pystache
openai
tiktoken
httpx
numpy
pandas
matplotlib
cvxopt